.commentMeta {
  margin-top: 0;
  margin-left: 1rem;
  color: var(--argotique-secondary-text);
}

.commentMeta a:hover {
  text-decoration: underline;
}

.commentText {
  margin-block-end: 0.25rem;
  margin-left: 1rem;
  color: var(--argotique-primary-text);
}