main {
  padding: var(--argotique-main-padding);
  display: flex;
  flex-grow: 100;
  height: 100%;
  justify-content: center;
  flex-wrap: nowrap;
}

main a,
main a:visited {
  color: inherit;
  text-decoration: none;
}

:root {
  --amplify-primary-color: #0055a4;
  --amplify-primary-tint: #1a66ad;
  --amplify-primary-shade: #004d94;

  --argotique-blue: #0055a4;
  --argotique-red: #ef4135;
  --argotique-white: #ffffff;

  --argotique-main-padding: 1rem;
  --argotique-drawer-min-width: 300px;
}