.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  padding: var(--argotique-main-padding);
  display: flex;
  flex-direction: column;
  flex-grow: 100;
  height: 100%;
}

main a,
main a:visited {
  color: inherit;
  text-decoration: none;
}

:root {
  --amplify-primary-color: #0055a4;
  --amplify-primary-tint: #1a66ad;
  --amplify-primary-shade: #004d94;

  --argotique-blue: #0055a4;
  --argotique-red: #ef4135;
  --argotique-white: #ffffff;
  --argotique-bg-tint: #cccccc;
  --argotique-primary-text: #222222;
  --argotique-secondary-text: #8c8c8c;

  --argotique-main-padding: 1rem;
  --argotique-nav-height: 3rem;
  --argotique-canvas-height: calc(
    100vh - var(--argotique-nav-height)
    - 4 * var(--argotique-main-padding)
  );
}