main {
  padding: var(--argotique-main-padding);
  display: flex;
  flex-grow: 100;
  height: 100%;
  justify-content: center;
  flex-wrap: nowrap;
}

main a,
main a:visited {
  color: inherit;
  text-decoration: none;
}

:root {
  --argotique-blue: #0055a4;
  --argotique-red: #ef4135;
  --argotique-white: #ffffff;

  --argotique-main-padding: 1rem;
  --argotique-drawer-min-width: 300px;

  --amplify-primary-color: var(--argotique-blue);
  --amplify-primary-tint: #1a66ad;
  --amplify-primary-shade: #004d94;

  --amplify-colors-brand-primary-100: var(--argotique-blue);
  --amplify-colors-brand-primary-90: var(--argotique-blue);
  --amplify-colors-brand-primary-80: var(--argotique-blue);
  --amplify-colors-brand-primary-70: var(--argotique-blue);
  --amplify-colors-brand-primary-60: var(--argotique-blue);
  --amplify-colors-brand-primary-50: var(--argotique-blue);
  --amplify-colors-brand-primary-40: var(--argotique-blue);
  --amplify-colors-brand-primary-30: var(--amplify-colors-transparent);
  --amplify-colors-brand-primary-20: var(--amplify-colors-transparent);
  --amplify-colors-brand-primary-10: var(--amplify-colors-transparent);
}

[data-amplify-authenticator] {
  margin-top: 15vh;
}
