nav .appName {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .appLogo {
  padding-right: 8px;
}

nav .appBanner {
  display: flex;
}

nav .appBanner {
  display: flex;
  align-items: center;
  width: min-content;
}

nav .appBannerContainer {
  flex-grow: 1;
}

nav a {
  color: var(--argotique-white);
  text-decoration: none;
}
